<%= link_to root_path do %>
    <div class="w-12 h-12 rounded-xl border-gray-600 bg-white flex items-center justify-center">
        <%= image_tag("icon.svg", alt: "icon", class: "w-10") %>
    </div>
<% end %>